.flexShrink{
    display: flex;
    border: 0.2em solid white;
}

.flexShrinkStyle div {
    background: rgb(240, 65, 65);
    padding: 1.5em;
    flex-basis: 7em;
    margin: 0.5em;
    text-align: center;
}

.shrink0 {
    flex-shrink: 0;
}

.shrink5 {
    flex-shrink: 5;
}
