.flexShrink {
  display: flex;
  border: 0.2em solid white;
}

.flexShrinkStyle div {
  padding: 1.5em;
  margin: 0.5em;
  background: #d9534f;
  flex-basis: 7em;
  text-align: center;
  border-radius: 0.2em;
}

.shrink0 {
  flex-shrink: 0;
}

.shrink5 {
  flex-shrink: 5;
}
