.alignSelf {
  display: flex;
  border: 0.2em solid white;
  height: 10em;
}

.alignSelfStyle div {
  margin: 0.5em;
  padding: 1.5em;
  border-radius: 0.2em;
  background: #d9534f;
  text-align: center;
}

.alignSelfStart {
  align-self: flex-start;
}
.alignSelfEnd {
  align-self: flex-end;
}
.alignSelfCenter {
  align-self: center;
}
.alignSelfStretch {
  align-self: stretch;
}

.alignSelfBaseline {
  align-self: baseline;
}
.alignSelfBaseline:last-of-type {
  height: 1.5em;
}
