.wrapClass {
  display: flex;
  border: 0.2em solid white;
  height: 10em;
}

.flexWrap {
  flex-wrap: wrap;
}
.noWrap {
  flex-wrap: nowrap;
}

.wrapReverse {
  flex-wrap: wrap-reverse;
}

.wrapClass div {
  background: #d9534f;
  margin: 0.5em;
  flex-basis: 6vw;
  text-align: center;
  border-radius: 0.2em;
}

.message {
  font-weight: bold;
  text-transform: uppercase;
}
