.flexGrow {
  display: flex;
  border: 0.2em solid white;
}

.flexGrowStyle div {
  margin: 0.5em;
  padding: 1.5em;
  background: #d9534f;
  text-align: center;
  border-radius: 0.2em;
}

.flexGrow1 {
  flex-grow: 1;
}
.flexGrow3 {
  flex-grow: 3;
}
