.flexGrow{
    display: flex;
    border: 0.2em solid white;
}

.flexGrowStyle div {
    background: rgb(240, 65, 65);
    padding: 1.5em;
    margin: 0.5em;
    text-align: center;
}

.flexGrow1{
    flex-grow: 1;
}
.flexGrow3{
    flex-grow: 3;
}